.user-info__edit-button {
    /* position: absolute; */
    width: 38px;
    height: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /* top: 16px;
    right: 0; */
  }
  
  @media screen and (max-width: 980px) {
    .user-info__edit-button {
      position: static;
      margin-bottom: 40px;
    }
  }